doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./scss/main.scss")
    script(src="./js/main.js" type="module" defer)
    title John Riggles - Software Dev

  body
    .hero.is-black.is-small
      .hero-body
        span(data-feather="terminal")
        p Engineer, programmer, musician, geek.

    header.level
      .level-item.has-text-centered
        div
          figure.image.is-128x128
            //- get image from Gravatar
            img(src="https://gravatar.com/avatar/dba82bba7f55a079f995ca6be54ff100783a01b8f8e9d300f28855500bfec45b?d=mp&r=g&s=512"
            style="height: 128px; width: 128px").is-rounded.gravatar
          p.heading.has-text-centered John Riggles
          p.tag he/him

      .level-item.has-text-centered
        div
          p.heading follow me on mastodon
          a(
            href="https://mastodon.social/@sudo_whoami" target="_blank"
          ).title.is-5 @sudo_whoami

      .level-item.has-text-centered
        div
          p.heading stackoverflow
          a(
            href="https://stackoverflow.com/users/8512262/jriggles" target="_blank"
          ).tag.is-5#reputation working...&nbsp;
            span.has-loader#reputationPlaceholder

      .level-item.has-text-centered
        div
          //- top stackoverflow tags populated by main.js
          p.heading top tags
          span.tags#topTags
            span.tag#tagPlaceholder working...&nbsp;
              span.has-loader

      .level-item.has-text-centered
        div
          p.heading github contributions
          a(href="https://github.com/JRiggles" target="_blank")
            img(src="https://ghchart.rshah.org/JRiggles" alt="GitHub contributions for JRiggles").contrib-graph

    section#main
      .title.is-4 About me
      p I'm a self-taught Pythonista with a background in audio and electronics engineering. I write code for a living, with a focus on data acquisition and UI/UX. I'm working on a few other projects in my spare time, too!
      br
      p Here are some of the highlights:
      br
      ul
        li - <a href="https://github.com/JRiggles/DELPHI-kbd" target="_blank">DELPHI</a>, a fully custom mechanical keyboard
        li - <a href="https://reverb.com/shop/tonegrove" target="_blank">Tonegrove</a>, guitar effects handmade by me

    section.footer.sticky-bottom
      .content.has-text-centered
        p
        | &copy;2022-24
        |
        strong John Riggles
        |
        | -
        |
        | Project source code is licensed
        |
        a(
          href="http://opensource.org/licenses/mit-license.php",
          target="_blank"
        ).has-text-weight-bold.is-underlined MIT
        |
        | unless otherwise marked.
        |
        | This website's content is licensed
        |
        a(
          href="http://creativecommons.org/licenses/by-nc-nd/4.0/",
          target="_blank"
        ).has-text-weight-bold.is-underlined CC BY NC ND 4.0
