doctype html
html(data-theme="dark" lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="John Riggles personal website showcasing projects in full-stack development, hardware, and creative pursuits.")
        meta(name="keywords" content="John Riggles, full-stack developer, programming, hardware projects, Aseprite, Python, Lua, web development, creative tech")
        meta(name="author" content="John Riggles")
        meta(name="robots" content="index, follow")
        meta(property="og:title" content="John Riggles")
        meta(property="og:description" content="Explore projects in programming, hardware, and design by John Riggles.")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://jriggles.github.io")
        meta(property="og:image" content="https://gravatar.com/avatar/dba82bba7f55a079f995ca6be54ff100783a01b8f8e9d300f28855500bfec45b?d=mp&r=g&s=512")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="John Riggles")
        meta(name="twitter:description" content="Explore projects in programming, hardware, and design by John Riggles.")
        meta(name="twitter:image" content="https://gravatar.com/avatar/dba82bba7f55a079f995ca6be54ff100783a01b8f8e9d300f28855500bfec45b?d=mp&r=g&s=512")
        link(rel="shortcut icon" type="image/gif" href="icons/favicon.gif")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css")
        link(href="./scss/main.scss" rel="stylesheet" type="text/css")
        script(src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js" type="text/javascript" defer)
        script(src="./js/main.js" type="text/javascript" defer)
        title John Riggles
    body
        include mixins/project_card.pug
        a(href="https://github.com/JRiggles/jriggles.github.io" target="_blank" alt="link to site source code").repo-link
            span.icon
                i.ti.ti-brand-github
        section.section#left-column
            .container
                .level#heading
                    .level-item
                        figure.image.is-128x128
                            img(
                                src="https://gravatar.com/avatar/dba82bba7f55a079f995ca6be54ff100783a01b8f8e9d300f28855500bfec45b?d=mp&r=g&s=512"
                                alt="gravatar image"
                                style="height: 128px; width: 128px"
                            ).is-rounded.gravatar
                    .level-item
                        span.icon.is-size-2.has-text-grey.ti.ti-terminal
                        .is-size-3.is-family-monospace.has-text-grey-lighter &nbsp;John Riggles
                .level#tagline
                    .level-item.has-text-centered
                        .is-grey.is-family-monospace Engineer, programmer, musician, geek.
                .level#heading-tags
                    .level-item
                        .field.is-grouped.is-grouped-multiline
                            .control
                                .tags.has-addons
                                    span.tag BS
                                    span.tag.is-danger AET
                            .control
                                .tags.has-addons
                                    span.tag AS
                                    span.tag.is-primary EET
                            .contol
                                .tags.has-addons
                                    span.tag PN
                                    span.tag.is-link He/Him
                            //- a(href="https://stackoverflow.com/users/8512262/jriggles" target="_blank")
                            .control
                                .tags.has-addons
                                    span.tag SO
                                    span.tag.is-black#reputationTag

            .container#about
                .title.is-family-secondary.is-5 About me
                p I'm a self-taught full-stack developer with a background in audio and electronics engineering. My work focuses on Python development for instrumentation, data acquisition, data visualization, and UI/UX design.
                br
                p Outside of work, I enjoy playing guitar, repairing and creating, and working on hardware and software projects. Most of my projects are open-source, and you can learn more about them here.
                br
                p Technically, I'm passionate about mechanical keyboards, guitar tech, PCB design, MSLA 3D printing, web and game development, and graphic design. Beyond tech, I love Dungeons &amp; Dragons, astronomy and astrophysics, craft beer, pixel art, linguistics, cooking, science fiction, and video games.

            .container#social
                .buttons.is-centered.are-small
                    a.button(href="https://mastodon.social/@sudo_whoami" target="_blank").btn-mastodon
                        span.icon
                            i.ti.ti-brand-mastodon
                        span.text Mastodon
                    a.button(href="https://github.com/JRiggles" target="_blank").btn-github
                        span.icon
                            i.ti.ti-brand-github
                        span.text GitHub
                    a.button(href="https://sudo-whoami.itch.io" target="_blank").btn-itch
                        span.icon
                            i.ti.ti-brand-itch
                        span.text Itch.io
                    a.button(href="https://stackoverflow.com/users/8512262/jriggles" target="_blank").btn-stackoverflow
                        span.icon.is-medium
                            i.ti.ti-brand-stackoverflow
                        span.text Stack Overflow
                    a.button(href="https://www.buymeacoffee.com/sudo_whoami" target="_blank").btn-buymeacoffee
                        span.icon.is-medium
                            i.ti.ti-coffee
                        span.text Buy Me a Coffee

        section.section#right-column
            .container.is-fluid#projects
                .title.is-family-secondary.is-5 Projects
                p.is-size-6 Almost every project starts as an excuse to learn something new or practice something I've learned. I develop apps, libraries, and hardware to solve specific problems and enhance my workflow.
                br
                p
                    | I've developed a few extensions for&nbsp;
                    a(href="https://www.aseprite.org" target="_blank") Aseprite
                    | , all of which are available on my itch.io page for free (or you can "name your own price") ; if you find any of them useful, please consider donating to support future development!
                    | I've also designed and built a few hardware projects, including custom mechanical keyboards, guitar effects pedals, and more.
                br
                //- mixin projectCard(title, links[{href, ariaLabel, icon}], image{src, alt}, description, tags[str, ...])
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Aseprite Extension Updater",
                        [
                            {
                                href: "https://github.com/JRiggles/aseprite-extension-updater",
                                ariaLabel: "GitHub repository for Aseprite Extension Updater",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Aseprite-Extension-Updater/main/screenshots/Extension%20Updater%20Icon.png",
                            alt: "a screenshot of my 'Aseprite Extension Updater' project"
                        },
                        "Aseprite Extension Updater is a tool that helps you keep your Aseprite extensions up to date. It checks participating extensions for updates and allows you to download and install them with ease.",
                        ["Aseprite", "Lua", "On hold"]
                    )
                    +projectCard(
                        "Canvas Templates",
                        [
                            {
                                href: "https://github.com/JRiggles/Canvas-Templates",
                                ariaLabel: "GitHub repository for Canvas Templates",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/canvas-templates",
                                ariaLabel: "Itch.io page for Canvas Templates",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/Jriggles/Canvas-Templates/main/screenshots/Canvas%20Templates.png",
                            alt: "a screenshot of my 'Canvas Templates' project"
                        },
                        "Canvas Templates is an Aseprite extension that provides a set of templates for common canvas sizes and layouts, including sizes for some famous retro game consoles. It's designed to help artists quickly set up their workspace and start creating without worrying about canvas dimensions.",
                        ["Aseprite", "Lua"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Censor Analyzer for Aseprite",
                        [
                            {
                                href: "https://github.com/JRiggles/censor-analyzer-for-aseprite",
                                ariaLabel: "GitHub repository for Censor Analyzer for Aseprite",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/censor-analyzer-for-aseprite",
                                ariaLabel: "Itch.io page for Censor Analyzer for Aseprite",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Censor-Analyzer-for-Aseprite/main/screenshots/preview%202.png",
                            alt: "Screenshot of Censor Analyzer for Aseprite"
                        },
                        "This Aseprite extension allows you to analyze color palettes using Quickmarble's \"Censor\" palette analysis tool directly in Aseprite. It provides a convenient way to analyze and visualize color palettes without leaving the Aseprite environment.",
                        ["Aseprite", "Lua", "Initial release"]
                    )
                    +projectCard(
                        "Copy Color Channel",
                        [
                            {
                                href: "https://github.com/JRiggles/Copy-Color-Channel",
                                ariaLabel: "GitHub repository for Copy Color Channel",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/copy-color-channel",
                                ariaLabel: "Itch.io page for Copy Color Channel",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Copy-Color-Channel/main/screenshots/D20%20Multi%20-%20All%20Channels%20-%20Export.png",
                            alt: "a screenshot of my 'Copy Color Channel' Aseprite extension"
                        },
                        "This Aseprite extension allows you to copy individual color channels to separate layers. It's useful for advanced image editing and manipulation.",
                        ["Aseprite", "Lua"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "DELPHI",
                        [
                            {
                                href: "https://github.com/JRiggles/DELPHI-kbd",
                                ariaLabel: "GitHub repository for DELPHI keyboard project",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://github.com/JRiggles/DELPHI-kbd/blob/main/images/IMG_3758.jpg?raw=true",
                            alt: "a photo of my custom keyboard called DELPHI"
                        },
                        "A.K.A. 'Dual Ergolinear Low-Profile Human Interface'. DELPHI is a minimal split mechanical keyboard designed to combine ergonomics and an ortholinear layout into a small form factor.",
                        ["CircuitPython", "Fusion", "KiCAD"]
                    )
                    +projectCard(
                        "EaseSprite",
                        [
                            {
                                href: "https://github.com/JRiggles/EaseSprite",
                                ariaLabel: "GitHub repository for EaseSprite",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/easesprite",
                                ariaLabel: "Itch.io page for EaseSprite",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/EaseSprite/main/screenshots/easeInQuad.gif",
                            alt: "a demo gif of my 'EaseSprite' Aseprite extension"
                        },
                        "EaseSprite is an Aseprite extension that provides easing functions for smooth animations. It helps you create more natural and visually appealing animations in your sprite work.",
                        ["Aseprite", "Lua"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Flatten to New Layer",
                        [
                            {
                                href: "https://github.com/JRiggles/Flatten-to-New-Layer",
                                ariaLabel: "GitHub repository for Flatten to New Layer",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/flatten-to-new-layer",
                                ariaLabel: "Itch.io page for Flatten to New Layer",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Flatten-to-New-Layer/main/screenshots/FNL%20Cover%20Image.png",
                            alt: "a screenshot of my 'Flatten to New Layer' Aseprite extension"
                        },
                        "This Aseprite extension allows you to flatten all visible layers into a new layer, preserving the original layers. It's useful for non-destructive editing workflows.",
                        ["Aseprite", "Lua"]
                    )
                    +projectCard(
                        "Git-Real",
                        [
                            {
                                href: "https://github.com/JRiggles/Git-Real",
                                ariaLabel: "GitHub repository for Git-Real",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Git-Real/main/images/demo.gif",
                            alt: "a demo gif of my 'Git-Real' project"
                        },
                        "Git-Real is a CircuitPython project that uses an Adafruit ESP32 Feather and an LED matrix display wing to provide a real-life display of your GitHub commit history. It's a fun way to visualize coding progress and stay motivated!",
                        ["CircuitPython"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "IQS5XX",
                        [
                            {
                                href: "https://github.com/JRiggles/IQS5XX",
                                ariaLabel: "GitHub repository for IQS5XX",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://www.dropbox.com/scl/fi/7o8k5ed39c2z5sdsdhzkp/IQS5XX.py.png?rlkey=4i1lmhc12iv4y9iqn6o7f2mwx&st=4m2nquol&raw=1",
                            alt: "an image of partial source code for my IQS5XX Python library"
                        },
                        "IQS5XX is a CircuitPython library for the TPS43 and TPS65 trackpad modules from Azoteq (the name comes from the family of interface chips used on those modules).",
                        ["CircuitPython"]
                    )
                    +projectCard(
                        "JSON2GPL",
                        [
                            {
                                href: "https://github.com/JRiggles/JSON2GPL",
                                ariaLabel: "GitHub repository for JSON2GPL",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/JSON2GPL/main/screenshots/json2gpl-icon.png",
                            alt: "The icon for my 'JSON2GPL' project, a riff on the Aseprite icon"
                        },
                        "JSON2GPL is a Python script that converts JSON color palette files into GPL (GIMP Palette) format.\n\nThis script was made to work with JSON files exported by the Sip color picker app for Mac OS, but any JSON file describing a color palette can be used as long as it's formatted properly.\n\nI use it in conjunction with a Mac OS Automator folder action to automatically convert JSON color palettes to GPL when they're added to my Aseprite palettes folder, but you can use it however you want.",
                        ["Python", "Automator"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Lospec Palette Importer",
                        [
                            {
                                href: "https://github.com/JRiggles/Lospec-Palette-Importer",
                                ariaLabel: "GitHub repository for Lospec Palette Importer",
                                icon: "ti ti-brand-github"
                            },
                            {
                                href: "https://sudo-whoami.itch.io/lospec-palette-importer",
                                ariaLabel: "Itch.io page for Lospec Palette Importer",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/Lospec-Palette-Importer/main/screenshots/palette%20preview%20dialog.png",
                            alt: "a screenshot of my Aseprite extension 'Lospec Palette Importer'"
                        },
                        "This Aseprite extension allows you to import and use color palettes from Lospec.com.",
                        ["Aseprite", "Lua"]
                    )
                    +projectCard(
                        "LTOTD",
                        [
                            {
                                href: "https://github.com/JRiggles/LTOTD",
                                ariaLabel: "GitHub repository for LTOTD",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/LTOTD/main/src/appicon.png",
                            alt: "an image of the LTOTD app icon"
                        },
                        "LTOTD (Lospec Tag of the Day) is a MacOS menu bar app that displays the current Lospec Tag of the Day. It's written in Python using the rumps library.",
                        ["Python", "WIP"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "PDBar",
                        [
                            {
                                href: "https://github.com/JRiggles/PDBar",
                                ariaLabel: "GitHub repository for PDBar",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://raw.githubusercontent.com/JRiggles/PDBar/main/src/appicon.png",
                            alt: "an image of the PDBar app icon"
                        },
                        "PDBar is a MacOS menu bar app that displays the current Pixel Dailies prompt. It's written in Python using the rumps library.",
                        ["Python"]
                    )
                    +projectCard(
                        "Pixel Playing Cards",
                        [
                            {
                                href: "https://sudo-whoami.itch.io/pixel-playing-cards",
                                ariaLabel: "Itch.io page for Pixel Playing Cards",
                                icon: "ti ti-brand-itch"
                            },
                        ],
                        {
                            src: "https://img.itch.zone/aW1hZ2UvMzI2NjQ0NC8xOTQ5OTYyOS5naWY=/original/Yiy%2FoM.gif",
                            alt: "a gif showing off my 'Pixel Playing Cards' project"
                        },
                        "Pixel Playing Cards is a downloadable asset pack containing 52 playing cards and 4 unique card backs with a pixel art aesthetic. You can download them for free or \"name your own price\" on Itch.io.",
                        ["Aseprite", "Game asset"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Sluggify Lua",
                        [
                            {
                                href: "https://github.com/JRiggles/sluggify-lua",
                                ariaLabel: "GitHub repository for Sluggify Lua",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        "",
                        "Sluggify Lua is a Lua port of skeddles/sluggify that converts strings into URL-friendly slugs. I originally wrote it as a part of Lospec Palette Importer, but I thought it might be useful on its own. You can use it to create clean and readable URLs from arbitrary text.",
                        ["Lua"]
                    )
                    +projectCard(
                        "Sluggify Python",
                        [
                            {
                                href: "https://github.com/JRiggles/sluggify-python",
                                ariaLabel: "GitHub repository for Sluggify Python",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        "",
                        "Sluggify Python is a Python port of skeddles/sluggify that converts strings into URL-friendly slugs. It's the same as Sluggify Lua, but in Python!",
                        ["Python"]
                    )
                .columns.is-desktop.is-multiline
                    +projectCard(
                        "Tonegrove",
                        [
                            {
                                href: "https://reverb.com/shop/tonegrove",
                                ariaLabel: "Tonegrove Reverb shop",
                                icon: "ti ti-external-link"
                            },
                        ],
                        {
                            src: "https://rvb-img.reverb.com/image/upload/s--sPd9KSfV--/a_0,c_crop,h_0.676,w_1.000,x_0.000,y_0.200/f_auto,t_large/v1700329659/tbioapjgyfmvpq3tr8bp.jpg",
                            alt: "a photo of a guitar booster pedal I call 'Seedling'"
                        },
                        "Tonegrove is my brand for guitar effects pedals designed and hand-built by me. My first design, an ultra-clean booster/buffer called 'Seedling', is available now. If you're interested, please consider supporting my Reverb shop!",
                        ["Fusion", "Inkscape", "KiCAD"]
                    )
                    +projectCard(
                        "tkfeather",
                        [
                            {
                                href: "https://github.com/JRiggles/tkfeather",
                                ariaLabel: "GitHub repository for tkfeather",
                                icon: "ti ti-brand-github"
                            },
                        ],
                        {
                            src: "https://www.dropbox.com/scl/fi/n170vuui29uhwb8sijqcw/tkfeather.png?rlkey=oou926fmsltkdh7u8s65jyzff&st=k6x5wbyu&raw=1",
                            alt: "a image of partial source code for my 'tkfeather' Python package"
                        },
                        "tkfeather is a Python package that allows you to use Cole Bemis' Feather Icons in Python's built-in GUI framework, tkinter. Run pip install tkfeather to try it out!",
                        ["Python"]
                    )
                    //- .column
                    //- empty column for spacing
                .columns.is-desktop.is-multiline
                    .column
                        p.content.is-size-7.has-text-grey.has-text-centered#PS If you'd like to know more about how I built this site, you can check out the source code on GitHub
                .columns.is-desktop.is-multiline
                    .column
                        article.message.is-small.is-primary
                            .message-body
                                p
                                | &copy;2022-25&nbsp;
                                strong John Riggles
                                span.icon.is-pulled-right
                                    i.ti.ti-info-circle
                                br
                                br
                                | Project source code is licensed
                                |
                                a(
                                    href="https://mit-license.org",
                                    target="_blank"
                                    alt="link to MIT license"
                                ).has-text-weight-bold.is-underlined MIT
                                |
                                | unless otherwise marked. This website's content is licensed
                                |
                                a(
                                    href="https://creativecommons.org/licenses/by-nc-sa/4.0/",
                                    target="_blank"
                                    alt="link to CC BY NC SA 4.0 license"
                                ).has-text-weight-bold.is-underlined CC BY NC SA 4.0
                                br
                                br
                                p I am not affiliated with Aseprite, Feather Icons, GitHub, Lospec, etc. All trademarks are property of their respective owners
