doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" type="image/gif" href="favicon.gif")
    link(rel="preconnect" href="https://fonts.googleapis.com" crossorigin)
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" type="text/css")
    link(href="./scss/main.scss" rel="stylesheet" type="text/css")
    script(src="../node_modules/feather-icons/dist/feather.min.js" type="text/javascript" defer)
    script(src="./js/main.js" type="text/javasrcipt" defer)
    title John Riggles

  body
    .hero.is-black.is-small
      .hero-body
        .columns.is-mobile
          .column.is-narrow
            img(data-feather="terminal")
          .column.has-text-left
            p Engineer, programmer, musician, geek.
          //- .column
          //-   img(
          //-     data-feather="moon" data-toggle="sun" role="button"
          //-   ).is-pulled-right.is-clearfix.is-clickable#darkMode

    header.level
      .level-item.has-text-centered
        div
          figure.image.is-128x128
            //- get image from Gravatar
            img(
              src="https://gravatar.com/avatar/dba82bba7f55a079f995ca6be54ff100783a01b8f8e9d300f28855500bfec45b?d=mp&r=g&s=512"
              alt="gravatar image"
              style="height: 128px; width: 128px"
            ).is-rounded.gravatar
          p.heading.has-text-centered John Riggles
          p.heading.has-text-centered.has-text-grey BS AET | AS EET
          p.tag he/him

      .level-item.has-text-centered
        div
          p.heading follow me on mastodon
          a(
            href="https://mastodon.social/@sudo_whoami" target="_blank"
          ).is-size-5 @sudo_whoami

      //- stackoverflow reputation populated by main.js
      .level-item.has-text-centered
        div
          p.heading stackoverflow
          a(
            href="https://stackoverflow.com/users/8512262/jriggles" target="_blank"
          )
            span.tag.is-medium#reputationTag

      //- top stackoverflow tags populated by main.js
      .level-item.has-text-centered
        div
          p.heading top tags
          span.tags.are-medium#topTags
            span.tag#placeholderTag

      .level-item.has-text-centered
        div
          p.heading github contributions
          a(href="https://github.com/JRiggles" target="_blank")
            img(
              src="https://ghchart.rshah.org/JRiggles"
              alt="GitHub contributions for JRiggles"
            ).contrib-graph

    section#main
      .title.is-family-secondary.is-4 About me
      p I'm a self-taught Pythonista with a background in audio and electronics engineering. I write code for a living, with a focus on data acquisition and UI/UX. In my off time, I play the guitar, fix things, and make new things. My current passion project is my custom-designed mechanical keyboard called <abbr title="Dual Ergolinear Low-Profile Human Interface">DELPHI</abbr>. You can learn more about it and some of my other projects below.
      br
      p My tecnical areas of interest include (in no particular order) mechanical keyboards, guitar tech, PCB design, MSLA (resin) 3D printing, web dev, game dev, graphic design, and more...
      br
      p My <i>non-technical</i> areas of interest include Dungeons &amp; Dragons, astronomy and astropyhsics, craft beer, pixel art, linguistics, video games, cooking, and science fiction just to name a few!

    section#projects
      .title.is-family-secondary.is-4 Projects
      p Almost every project starts as an excuse to learn something new or practice something I've learned. Here's what I've been working on lately:
      br
      .columns
        .column
          .panel.is-light
            .panel-heading.is-family-secondary DELPHI
            .panel-block
              a(href="https://github.com/JRiggles/DELPHI-kbd" target="_blank")
                img(
                  src="https://github.com/JRiggles/DELPHI-kbd/blob/main/images/DELPHI%20photo.png?raw=true"
                  alt="a photo of my custom keyboard called DELPHI"
                )
            .panel-block
              p.is-family-primary A.K.A. "Dual Ergolinear Low-Profile Human Interface". DELPHI is a minimal split mechanical keyboard designed to combine ergonomics and an ortholinear layout into a small form factor.
            .panel-footer
              .panel-block
                span.tags.heading made with&nbsp;
                  span.tag CircuitPython
                  span.tag Fusion 360
                  span.tag KiCAD

        .column
          .panel.is-light
            .panel-heading.is-family-secondary Tonegrove
            .panel-block
              a(href="https://reverb.com/shop/tonegrove" target="_blank")
                img(
                  src="https://rvb-img.reverb.com/image/upload/s--sPd9KSfV--/a_0,c_crop,h_0.676,w_1.000,x_0.000,y_0.200/f_auto,t_large/v1700329659/tbioapjgyfmvpq3tr8bp.jpg"
                  alt="a photo of a guitar booster pedal I call 'Seedling'"
                )
            .panel-block
              p.is-family-primary Tonegrove is my brand for guitar effects pedals designed and hand-built by me. My first design, an ultra-clean booster/buffer called "Seedling", is available now. If you're interested, please consider supporting my Reverb shop!
            .panel-footer
              .panel-block
                span.tags.heading made with&nbsp;
                  span.tag Fusion 360
                  span.tag Inkscape
                  span.tag KiCAD

        .column
          .panel.is-light
            .panel-heading.is-family-secondary Lospec Palette Importer
            .panel-block
              a(href="https://sudo-whoami.itch.io/lospec-palette-importer" target="_blank")
                img(src="https://www.dropbox.com/scl/fi/tx28cl54z0wk6ag1xl6d3/lospec_palette_importer.png?rlkey=nl1rvchff2kuqowxx73slalmf&st=5mct47zy&raw=1" alt="a screenshot of my Aseprite extension 'Lospec Palette Importer'")
            .panel-block
              p.is-family-primary This Aseprite extension allows you to import and use color palettes from Lospec.com. It's available as a "pay what you want" tool on itch.io. If you find it useful, please consider donating to support further development!
            .panel-footer
              .panel-block
                span.tags.heading made with&nbsp;
                  span.tag Aseprite
                  span.tag Lua

        .column
          .panel.is-light
            .panel-heading.is-family-secondary IQS5XX
            .panel-block
              a(href="https://github.com/JRiggles/IQS5XX" target="_blank")
                image(src="https://www.dropbox.com/scl/fi/7o8k5ed39c2z5sdsdhzkp/IQS5XX.py.png?rlkey=4i1lmhc12iv4y9iqn6o7f2mwx&st=4m2nquol&raw=1" alt="an image of partial source code")
            .panel-block.is-family-primary
              p A CircuitPython library for the TPS43 and TPS65 trackpad modules from Azoteq.
            .panel-footer
              .panel-block
                span.tags.heading made with&nbsp;
                  span.tag CircuitPython
                  //- span.tag.is-dark WIP

    p.content.heading.has-text-centered#PS If you'd like to know more about how I built this site, you can check out the source code on&nbsp;
      a(href="https://github.com/JRiggles/jriggles.github.io" target="_blank") GitHub

    footer.footer
      .content.has-text-centered.is-size-7.is-dark
        p
        | &copy;2022-24&nbsp;
        strong John Riggles
        |
        | | Project source code is licensed
        |
        a(
          href="http://opensource.org/licenses/mit-license.php",
          target="_blank"
        ).has-text-weight-bold.is-underlined MIT
        |
        | unless otherwise marked. This website's content is licensed
        |
        a(
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/",
          target="_blank"
        ).has-text-weight-bold.is-underlined CC BY NC SA 4.0
        br
        p - All trademarks are property of their respective owners -
